@mixin collapse-default {
    overflow: hidden;
}


@mixin nga-collapse-add {
    &.ng-enter:not(.ng-enter-active) {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@mixin nga-collapse-remove {
    &.ng-leave.ng-leave-active {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
@mixin nga-collapse-move {
    &.ng-move {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@mixin nga-collapse-all {
    @include collapse-default;
    
    @include nga-collapse-add;
    @include nga-collapse-remove;
    @include nga-collapse-move;
}