@import '_variables';

@mixin transition($params) {
    -webkit-transition: $params;
    -moz-transition: $params;
    -o-transition: $params;
    transition: $params;
}

.nga-default {
	@include transition(all $duration-medium);
}

.nga-slow {
	@include transition(all $duration-slow);
}

.nga-fast {
	@include transition(all $duration-fast);
}