@import 'base';

@mixin squash-vertical-default {
    position: relative;
    overflow: hidden;
    bottom: 0;
}
@mixin squash-vertical-hidden {
    height: 0;
    top: 100%;
}
@mixin squash-vertical-visible {
    height: 42px;
    top: 0;
}

.nga-squash-vertical-add {
    @include squash-vertical-default;

    &.ng-enter {
        @include squash-vertical-hidden;
    }
    &.ng-enter:not(.ng-enter-active) {
        padding-top: 0;
        padding-bottom: 0;
    }
    &.ng-enter.ng-enter-active {
        @include squash-vertical-visible;
    }
}
.nga-squash-vertical-remove {
    @include squash-vertical-default;

    &.ng-leave{
        @include squash-vertical-visible;
    }
    &.ng-leave.ng-leave-active {
        @include squash-vertical-hidden;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.nga-squash-vertical-move {
    @include squash-vertical-default;

    &.ng-move {
        @include squash-vertical-hidden;
    }
    &.ng-move.ng-move-active {
        @include squash-vertical-visible;
    }
}

.nga-squash-vertical {
    @extend .nga-squash-vertical-add;
    @extend .nga-squash-vertical-remove;
    @extend .nga-squash-vertical-move;
}