@import 'base';

@mixin collapse-default {
    overflow: hidden;
}
@mixin collapse-hidden {
    height: 0;
}
@mixin collapse-visible {
    height: 42px;
}

.nga-collapse-add {
    @include collapse-default;

    &.ng-enter {
        @include collapse-hidden;
    }
    &.ng-enter:not(.ng-enter-active) {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.ng-enter.ng-enter-active {
        @include collapse-visible;
    }
}
.nga-collapse-remove {
    @include collapse-default;

    &.ng-leave.ng-leave-active {
        @include collapse-hidden;
        padding-top: 0;
        padding-bottom: 0;
    }
    &.ng-leave{
        @include collapse-visible;
    }
}
.nga-collapse-move {
    @include collapse-default;

    &.ng-move {
        @include collapse-hidden;
    }
    &.ng-move.ng-move-active {
        @include collapse-visible;
    }
}

.nga-collapse-all {
    @extend .nga-collapse-add;
    @extend .nga-collapse-remove;
    @extend .nga-collapse-move;
}

.nga-collapse {
    @extend .nga-collapse-all;
}