@import 'base';

@mixin slide-down-default {
    position: relative;
    overflow: hidden;
}
@mixin slide-down-hidden {
    top: 42px;
}
@mixin slide-down-visible {
    top: 0;
}

.nga-slide-down-add {
    @include slide-down-default;

    &.ng-enter {
        @include slide-down-hidden;
    }
    &.ng-enter.ng-enter-active {
        @include slide-down-visible;
    }
}
.nga-slide-down-remove {
    @include slide-down-default;

    &.ng-leave.ng-leave-active {
        @include slide-down-hidden;
    }
    &.ng-leave{
        @include slide-down-visible;
    }
}
.nga-slide-down-move {
    @include slide-down-default;

    &.ng-move {
        @include slide-down-hidden;
    }
    &.ng-move.ng-move-active {
        @include slide-down-visible;
    }
}

.nga-slide-down-all {
    @extend .nga-slide-down-add;
    @extend .nga-slide-down-remove;
    @extend .nga-slide-down-move;
}

.nga-slide-down {
    @extend .nga-slide-down-all;
}